html,body{
    margin:0; padding:0; height:100%;
    background:#f8b6c8; /* HỒNG SỮA ĐẬM */
    font-family:sans-serif; overflow:hidden;
}

.screen{
    position:fixed; width:100%; height:100%;
    display:none; flex-direction:column;
    justify-content:center; align-items:center;
    background:#f8b6c8; z-index: 5;
}
.screen.active{display:flex}

/* TIM RƠI */
#heartContainer{ position:fixed; width:100%; height:100%; pointer-events:none; z-index:99; }
.falling-heart{ position:absolute; top:-20px; animation:fall linear forwards; }
@keyframes fall{ to{transform:translateY(110vh);} }

/* GIAO DIỆN 1 */
.envelope{ position:relative; width:300px; height:200px; cursor:pointer; margin-bottom: 40px; }
.envelope-body{ position:absolute; bottom:0; width:100%; height:100%; background:white; border-radius:0 0 15px 15px; box-shadow:0 10px 30px rgba(0,0,0,0.1); }
.envelope-flap{ position:absolute; top:0; width:0; height:0; border-left:150px solid transparent; border-right:150px solid transparent; border-top:110px solid #f1f1f1; z-index: 3; }
.heart-seal{ position:absolute; top:75px; left:50%; transform:translateX(-50%); font-size:50px; z-index: 4; }
.intro-text{ font-size:22px; font-weight:bold; color:#a80038; }

/* PASSCODE UI */
.pass-section{ text-align:center; z-index:10; margin-bottom:10px; }
.dots{ margin:10px 0; display: flex; justify-content: center; }
.dot{ width:18px; height:18px; border:3px solid #ff2f6d; border-radius:50%; display:inline-block; margin:8px; }
.dot.filled{ background:#ff2f6d; }
input{ opacity:0; position:absolute; }
.error{ color:#a80038; font-weight:bold; min-height: 20px; font-size: 14px; }

/* GRID ẢNH */
.photo-grid{
    display:grid; grid-template-columns:repeat(7,1fr); grid-template-rows:repeat(3,1fr);
    gap:10px; width:95%; height:55%;
}
.photo{ background:#ff8fab; border-radius:10px; border: 2px solid white; overflow:hidden; display:flex; }
.photo img{ width:100%; height:100%; object-fit:cover; display:none; opacity: 0; transition: opacity 0.5s; }

/* SCREEN 3 */
.screen3-wrap{ display:flex; align-items:center; gap:80px; }
.left-photo img{ 
    width:350px; border-radius:20px; border: 8px solid white; 
    box-shadow:0 10px 30px rgba(0,0,0,0.2); 
}

/* SCREEN 4 */
.letter{ width:600px; height:500px; background:white; padding:35px; border-radius:15px; }
textarea{ width:100%; height:420px; border:none; outline:none; resize:none; font-size:18px; line-height:35px; background:repeating-linear-gradient(white, white 34px, #eee 35px); }